---
title: Canadian Island Songbook
---

<p class="lead">This is the songbook for Camp Canadian Island. Here, campers can find the songs we'll sing this summer and counselors can practice their guitar playing!</p>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <p>
      <a href="/songs" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-th-list fa-fw"></i> Song List
      </a>
    </p>
    <p>
      <a href="/pdfs/songbook.pdf" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-download fa-fw"></i> Download Songbook
      </a>
    </p>
  </div>
</div>
