---
title: Song List
layout: layout
---

<p class="lead">These are the songs we'll sing at camp!</p>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <p>
      <a href="/pdfs/songbook.pdf" class="btn btn-primary btn-block">
        <i class="fas fa-download fa-fw"></i> Download Songbook
      </a>
    </p>
  </div>
</div>

<div id="song-table"></div>

<%= javascript_include_tag 'bundle' %>
